
<div class="mod-swiper active">
	<div class="items swiper-container" id="jSwiper_1">
		<div class="items-width clearfix swiper-wrapper">
			<a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible swiper-slide-active"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">111电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible swiper-slide-active"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">1111电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">111电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">1111电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);" class="item tc f-l swiper-slide"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a>
		</div>
	</div>
	<div class="arrow-left" id="jLeft_1">
		<i class=" iyoyo icon-left-sign"></i>
	</div>
	<div class="arrow-right " id="jRight_1">
		<i class="iyoyo icon-right-sign"></i>
	</div>
</div>

<div class="mod-swiper">
	<div class="items swiper-container" id="jSwiper_2">
		<div class="items-width clearfix swiper-wrapper">
			<a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible swiper-slide-active"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">222电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible swiper-slide-active"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">222电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">222电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">222电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);" class="item tc f-l swiper-slide"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a>
		</div>
		<div class="arrow-left" id="jLeft_2">
			<i class=" iyoyo icon-left-sign"></i>
		</div>
		<div class="arrow-right " id="jRight_2">
			<i class="iyoyo icon-right-sign"></i>
		</div>
	</div>
</div>

<div class="mod-swiper">
	<div class="items swiper-container" id="jSwiper_3">
		<div class="items-width clearfix swiper-wrapper">
			<a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible swiper-slide-active"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">333电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible swiper-slide-active"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">333电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">333电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">333电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);" class="item tc f-l swiper-slide"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a>
		</div>
		<div class="arrow-left" id="jLeft_3">
			<i class=" iyoyo icon-left-sign"></i>
		</div>
		<div class="arrow-right " id="jRight_3">
			<i class="iyoyo icon-right-sign"></i>
		</div>
	</div>
</div>

<div class="mod-swiper">
	<div class="items swiper-container" id="jSwiper_4">
		<div class="items-width clearfix swiper-wrapper">
			<a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible swiper-slide-active"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">444电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible swiper-slide-active"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">444电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">444电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);"
				class="item tc f-l swiper-slide swiper-slide-visible"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">444电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a> <a href="javascript:void(0);" class="item tc f-l swiper-slide"
				style="width: 246.667px; height: 353px;">
				<div class="img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;">
				</div>
				<div class="mod-teacher-intr">
					<h3 class="name">电子商务公共服务联盟主席中国电子商务产业园联盟主席</h3>
					<div class="job-title">
						<span>杭州市电子商务促进会秘书长</span> <span>杭州市电子商务专家资讯委员会副主任</span>
					</div>
					<p class="mod-label">
						<i></i>顾问
					</p>
				</div>
				<div class="mod-sm-img">
					<img
						src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						data-src="http://img1.bbgstatic.com/1584d52b0e7_bc_a0497d85409460dcc0e0ecb723257bb4_1242x680.jpeg"
						alt="师资团队" class="jImg" style="display: inline;"> <span>张铁柱</span>
				</div>
			</a>
		</div>
		<div class="arrow-left" id="jLeft_4">
			<i class=" iyoyo icon-left-sign"></i>
		</div>
		<div class="arrow-right " id="jRight_4">
			<i class="iyoyo icon-right-sign"></i>
		</div>
	</div>
</div>